body {
    background-color: #CCCCCC;
}

h1 {
    text-align: center;
}

.btn{
    text-align: center;
}

.btn--black.btn--cubic {
  border-bottom: 5px solid #000000;
}

.btn--black.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #000000;
}

.btn--radius {
  border-radius: 100vh;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - .5em);
  right: 1rem;
}